<%- include("./partials/header") %>
<!--  -->
<%- include("./partials/nav") %>
<!--  -->
<h1>Home Page</h1>
<form action="/send-mail" method="post">
  <input type="email" name="email" placeholder="Enter your email here...">
  <button>Submit</button>
</form>

<!--  -->
<%- include("./partials/footer") %>
